<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <title></title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>


    <h1>Edit <%=event.name%> </h1>
    <% include ../partials/events/edit.ejs %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
