<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <% include ../partials/nav.ejs %>


    <h1>Edit <%=event.name%> </h1>
    <% include ../partials/events/edit.ejs %>
    <a href="/">Back</a>
    <% include ../partials/footer.ejs %>
  </body>
</html>
