<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/events/new.ejs %>  
  </body>
</html>
