<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">
    <title>ADD A NEW EVENT</title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/events/new.ejs %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
