<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ADD A NEW EVENT</title>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <% include ../partials/events/new.ejs %>
    <% include ../partials/footer.ejs %>
  </body>
</html>
