<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">

=======
>>>>>>> bb767f92fde3c9003c3e2d8132fa834a8df8f345
    <title><%=event.name%></title>
  </head>
  <body>
  <% include ../partials/nav.ejs %>
  <h1><%=event.name%></h1>
  <% include ../partials/events/show.ejs %>
  <a class="links" href="/events">Back</a>
  <% include ../partials/footer.ejs %>
  </body>
</html>
