<nav class="NavBar">

<button id="navButton">&#x2630<button>
    <ul>
      <div class='navbar'>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/:id/profile">My Profile</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      </div>

    <li><a href="/events">home</a></li>
    <li><a href="/profile">profile</a></li>

    <li><a href="/auth/login">log in/register</a></li>

    <li><a href="/auth/logout">log out</a><li>

    </ul>
</nav>
