<nav class="NavBar">

<button id="navButton">&#x2630<button>
      <div class='navbar'>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/:id/profile">My Profile</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
      </div>

</nav>
