<nav class="NavBar">

<button id="navbutton">&#x2630<button>
    <ul>

    <li><a href="/events">home</a></li>
    <li><a href="/profile">profile</a></li>

    <li><a href="/auth/login">log in/register</a></li>

    <li><a href="/auth/logout">log out</a><li>

    </ul>
</nav>