<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>404 - Page not found</title>
  </head>

<% include partials/nav.ejs %>

<h2>What's up?</h2>
<h1>404 - not this page</h1>


