<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <title>What's Happening?</title>
  </head>
  <body>
  <% include ./partials/nav.ejs %>
    <h1>We Are What's Happening</h1>

    <img class="cdj" src="">

    <div class="contact">
      <h3>Say Hello</h3>

      <form class="forms" action="/" method="post">
        <input type="text" placeholder="Leave Comments, Questions, or Suggestions Here!">
        <textarea name="contactUs"></textarea>
        <input type="submit">
      </form>
    </div>

  </body>
</html>
