<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">

    </head>
    <body>
    <% include partials/header.ejs %>
    <% include partials/nav.ejs %>

    <img src="https://s3-media4.fl.yelpcdn.com/bphoto/Vh4TyXqhOF89pArewIzzGg/o.jpg" class="atx">
    <img src="https://austinot.com/wp-content/uploads/2015/09/Barton-Springs-Featured-Image.jpg" class="atx">

    <h2 class="hello">Hello, <%=username%> </h2>
    <% include partials/events/list.ejs %>
    <% include partials/footer.ejs %>
    </body>
</html>
