<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>hi</h1>



<% include ./partials/nav.ejs %>

<% include ./partials/auth/login.ejs %>

<% include ./partials/auth/register.ejs %>

<% include ./partials/footer.ejs %>

  </body>
</html>
