<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet">

=======
>>>>>>> bb767f92fde3c9003c3e2d8132fa834a8df8f345
  </head>
  <body>
<% include partials/nav.ejs %>

<h1>Welcome to What's Happening</h1>

<% include partials/auth/login.ejs %>

<% include partials/auth/register.ejs %>

<% include partials/footer.ejs %>

  </body>
</html>
