<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
<% include partials/nav.ejs %>

<h1> What's Happenning? </h1>

<% include partials/auth/login.ejs %>

<% include partials/auth/register.ejs %>

<% include partials/footer.ejs %>

  </body>
</html>
