<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
<h1>hi</h1>



<% include ./partials/nav.ejs %>

<% include ./partials/auth/login.ejs %>

<% include ./partials/auth/register.ejs %>

<% include ./partials/footer.ejs %>

  </body>
</html>
