<-- profile page, needs a user an array of the user's hosted events and an array of the user's attended events -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
<% include ../partials/nav.ejs %>
    </header>

<h2>My Profile</h2>
  <% include ../partials/auth/edit.ejs %>

<h2>Hosted Events</h2>
    <% var events = hostedEvents %>
    <% include ../partials/events/list.ejs %>

<h2>Attended Events</h2>
    <% var events = attendedEvents %>
    <% include ../partials/events/list.ejs %>




    <footer>
   <% include ../partials/footer.ejs %>
    </footer>

  </body>
</html>
