<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
<% include ../partials/nav.ejs %>
    </header>

<h2>My Profile</h2>
  <% include ../partials/auth/edit.ejs %>
<a href="/events/new">Add New Event</a>
<h2>Hosted Events</h2>
    <% var events = hostedEvents %>


<h2>Attended Events</h2>
    <% var events = attendedEvents %>

    <footer>

    </footer>

  </body>
</html>
