

  <div class="lrDiv">
<section class="partials">
     <h3>Login</h3>
     <form class="lrForms" action = "/auth/login" method="POST">
       <input class="lrInput" type="text" name="username" placeholder="username"><br>


       <input class="lrInput" id="hidePasswordLog" type="password" name="password" placeholder="password">

         <input type="checkbox" onclick="ToggleLI()">
        Show Password<br>
        <button class="submit" type="submit">Login</button>


</div>

       <script>
             function ToggleLI() {
                 var temp = document.getElementById("hidePasswordLog");
                 if (temp.type === "password") {
                     temp.type = "text";
                 }
                 else {
                     temp.type = "password";
                 }
             }
     </script>

     </form>
   </section>
