<section>
  <h3>Register</h3>
    <form action="/auth/register" method="POST">

      <!-- replace username with email address -->
      <input type="name" name="username" placeholder="username"> <br>
      <input id="hidePassword" type="password" name="password" placeholder="password">
      <input type="checkbox" onclick="Toggle()">
     Show Password<br>
      <button type="submit">Register</button>

      <script>
        // Change the type of input to password or text
            function Toggle() {
                var temp = document.getElementById("hidePassword");
                if (temp.type === "password") {
                    temp.type = "text";
                }
                else {
                    temp.type = "password";
                }
            }
    </script>



    </form>
</section>
