<section class="partials">
  <h3>Register</h3>
    <form class="forms" action="/auth/register" method="POST">

      <!-- replace username with email address -->
      <input type="name" name="username" placeholder="username"> <br>

      <input id="hidePasswordReg" type="password" name="password" placeholder="password">


      <input type="checkbox" onclick="ToggleR()">
     Show Password<br>
      <button type="submit">Register</button>

      <script>
            function ToggleR() {
                var temp = document.getElementById("hidePasswordReg");
                if (temp.type === "password") {
                    temp.type = "text";
                }
                else {
                    temp.type = "password";
                }
            }
    </script>


    

    </form>
</section>
