<section>
  <h3>Register</h3>
    <form action="/auth/register" method="POST">

      <!-- replace username with email address -->
      <input type="name" name="username" placeholder="username"> <br>
      <input type="password" name="password" placeholder="password"> <br>


      <button type="submit">Register</button>
    </form>
</section>
