<section>
  <h2>List of Events</h2>
        <ul>
          <% for(let i = 0; i < Event.length; i++){ %>
            <li>
              <a href="/events/<%=event[i]._id%>"><%=event[i].name%></a>
            </li>
          <% } %>
        </ul>
      </main>
<section>
